$primary-color: #3498db;
$secondary-color: #2ecc71;

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;

    .table-container {
        padding: 0 15px;
        max-width: 1230px;
        margin: 0 auto;
        border-radius: 4px;
    }

    .filter-container {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        color: $primary-color;
    }

    .filter-input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
        margin-bottom: 30px;

        &:focus {
            border-color: #007bff;
            outline: none;
        }
    }

    .users-table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        th,
        td {
            flex: 1;
            padding: 10px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            &:nth-child(1),
            &:nth-child(2) {
                @media (max-width: 768px) {
                    flex: 1 0 50%;
                }
            }

            &:nth-child(3),
            &:nth-child(4) {
                @media (max-width: 768px) {
                    flex: 1 0 50%;
                }
            }
        }

        th {
            background-color: $secondary-color;
            color: white;
        }
        tbody tr {
            height: 50px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: $primary-color;
            transition: 0.2s ease;
        }
    }

    h2,
    .empty-message {
        text-align: center;
        color: #888;
    }

    td {
        &:nth-child(3),
        &:nth-child(4) {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    .filter-input,
    th {
        @media (max-width: 768px) {
            &:nth-last-child(-n + 2) {
                display: none;
            }
        }
    }
}
